.sidenav .sidenav-header h3 {
  margin: 0;
  padding: 8px 0px;
}

.sidenav .sidenav-header {
  text-align: center;
  color: #fff;
  background-color: #ee6e73;
}

#mobile-demo-right img {
  width: 100%;
}

.business-container {
  padding: .5rem;
}

.business-container h5 {
  margin: 0 0 .2rem 0;
}

.business-container #hours {
  color: gray;
  margin-bottom: .2rem;
}

.business-container #address {
  color: black;
}

.business-container #claim-button {
  width: 100%;
}
