/* COlOR PALETTE (Light -> Dark) */
/* E0FCDE 86FEB1 00BD70 00A097 3F220E */
.sidenav .sidenav-header h3 {
  margin: 0;
  height: 56px;
  padding: 5px;
}

.sidenav .sidenav-header {
  text-align: center;
  color: #fff;
  background-color: #3F220E;
}

#mobile-demo-right img {
  width: 100%;
}

.business-container {
  padding: .5rem;
}

.business-container h5 {
  margin: 0 0 .2rem 0;
}

.business-container #hours {
  color: gray;
  margin-bottom: .2rem;
}

.business-container #address {
  color: black;
}

.business-container #claim-button {
  width: 100%;
}

.card-action #claim-button {
  width: 100%;
}

#home-content {
    text-align: center;
    margin: auto;
}

nav {
    background-color: #3F220E;
}

body {
    background: linear-gradient(#E0FCDE, #00A097);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#logo-image img {
    margin-bottom: 0px;
    max-width: 100%;
    width: 70%;
    height: auto;
    padding: 20px 0px 0px 0px;
}

.text-info {
    color: white;
    font-size: 18px;
    padding-right: 10px;
    padding-left: 10px;
}

.btn-large {
    background-color: #00BD70;
}
